


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(17, 0, 255, 0.002) ;
}


.header {
  height: 100px;
  background-color: #10375C;
  padding: 0 20px;
  color: #FFF;
}

.logo {
  line-height: 100px;
  float: left;
  transition: 0.4s;
  cursor: pointer;
}

.menu {
  float: right;
  line-height: 100px;
}

.menu a {
  text-decoration: none;
  color: #FFF;
  margin: 0 10px;
  transition: 0.4s;
}

.show-menu-button,
.hide-menu-button {
  transition: 0.4s;
  font-size: 30px;
  display: none;
  cursor: pointer;
  line-height: 100px;
}

.show-menu-button {
  float: right;
}

.menu a:hover,
.logo:hover,
.show-menu-button i:hover,
.hide-menu-button i:hover {
  color: #3498db;
}

#chk {
  display: none;
}



@media screen and (max-width:800px) {

  .show-menu-button,
  .hide-menu-button {
      display: block;
  }
  

  .menu {
      position: fixed;
      height: 100vh;
      width: 100%;
      background: #333;
      padding: 80px 0;        
      text-align: center;
      transition: 0.7s;
      right: -100%;
      
  }

  .menu a {
      display: block;
  }

  .hide-menu-button {
      position: absolute;
      top: 20px;
      right: 40px;
  }

  #chk:checked ~ .menu{
    right: 0;
  }
}

/* ###########################   Hero Main Section   #################################3 */
.container{
  max-width:1200px;
  margin:auto;
  padding:0 20px;
  font-family: 'Poppins', sans-serif;
}

.hero{
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.hero-text{
  width:50%;
}

.hero-text span::after{
  content: ' ';
  width:100%;
  height: 20px;
  background-color: #844685;

}

.hero-text h3{
  font-size:1.5rem;
  font-weight: 500;
}

.hero-text h1{
  font-size:2.5rem;
  font-weight: 600;
}

.hero-text-btns{
  display:flex;
  gap:15%;
  /* justify-content:; */
  margin-top:2rem;
  
}

.btn{
  /* width:100px; */
  /* height: 40px; */
  border-radius: 100px;
  font-family: 'Poppins', serif;
  font-size:1.2rem;
  font-weight: 600;
  padding: 10px 20px;
  border:solid 1px #844685;
  box-shadow: 2px 2px 0px 1.5px #844685;
}
.btn:hover{
  box-shadow: none;
  transform:translate(2px,2px);
  transition: 0.1s;
  background-color: #F3C623;
}

.hero-text-btns .btn1{
  background-color: #F3C623;
  color: #844685;
}

.hero-text-btns .btn2{
  /* background-color: #F3C623; */
  color: #844685;
}
.hero-img{
  width:50%;
  min-width:250px;
  display:flex;
  justify-content: flex-end;
}

.hero-img img{
  width:80%;
  /* margin:auto; */
}
@media (max-width:540px) {
  .hero-text{
    width:100%;
    text-align:center;
  }
  
  .hero-img{
    width:100%;
    justify-content: center;
  }
}

/* ###########################  Incentives  ####################### */

.incentives{
  display:flex;
  flex-direction: column;
  gap:1.25rem;
  align-items: center;
  margin-top:2rem;
}

.heading{
  font-size: 2rem;
  font-weight: 500;
  color: #10375C;
  /* position: relative;
  display:inline-block;             Utility Underline
  max-width: min-content; */
}

/* .heading::after{
  content:'';
  width: 100%;             Utility Underline
  height: 5px;
  position:absolute;
  bottom: 10px;
  z-index: -1;
  background-color: rgba(132, 70, 133, 0.8);
} */

.tiles-wrapper{
  display:flex;
  justify-content: space-between;
  align-content: center;
}

.tile{
  background-color: rgba(132, 70, 133, 0.372);
}





/* #######################   Testimonials  ##################### */
.testimonials{
  padding: 6rem 1.25rem;
  margin: 0 auto;
}


/*  #############################   Utility  Classes  ####################3 */

.underline{
  display:inline-block;
  position:relative;

}
.underline::after{
  content:'';
  width: 100%;
  height: 5px;
  position:absolute;
  bottom: 10px;
  z-index: -1;
  background-color: rgba(132, 70, 133, 0.8);
}